
RewriteEngine On


Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, Origin, Accept, X-Custom-Header"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"


<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [L]
</IfModule>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
